*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #575757;
}

nav{
    background-color: white;
    margin: 5px 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common_btn{
    background-color: #1D4ED8;
    color: white;
    padding: 12px 12px;
    border-radius: 5px;
    border: none;
    height: 28px;
    width: 120px;
    cursor: pointer;
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.common_btn:hover{
    box-shadow: 0px 0px 6px #575757;
    transition: background-color 0.2s ease, box-shadow 0.3s ease-in-out, scale 0.2s;
    scale: 1.1;
}
.logo{
   margin: 0px 40px;
   scale: 0.7;
    
}

.container ul{
    gap: 3px;
}
.container ul li a{
    padding: 10px 5px;
    font-size: 12px;
    
}
.container ul li a:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px #575757;
    transition: background-color 0.2s ease, box-shadow 0.3s ease-in-out;
    border-radius: 5px;

}

.hero{
    position: relative;
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;

       display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5); /* Dark overlay */
}
#headofbanner{
    color: #FFFFFF;
    padding-top: 150px;
    position: relative;
    font-size: 60px;
    


}
#paraofbanner{
    position: relative;
    color: #cecdcd;
    line-height: 1.5;
}
.hero p{
    margin: 20px auto;
    text-align: center;
}

.hero button{
    margin-top: 120px;
    margin-bottom: 80px;
    scale: 1.2;
}

.hero button:hover{
    scale: 1.4;
}
.speaker_heading{
    text-align: center;
    font-size: 36px;
    padding: 100px 0 20px 0;
    font-weight: 700;


}
.speaker_card{
    display: grid;
    grid-template-columns:repeat(2, 500px);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 20px auto;
    gap: 10px;
    
}

.s_card{
    border-radius: 10px;
    background-color:#f3f3f3;
    border: solid 0.1px #dbdbdb;
    
}

.s_card img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.field{
    color: #1D4ED8;
    margin-top: 3px;
}

.position{
    color: #575757;
    font-weight: 300;
    margin-bottom: 5px;
}

.s_card p, h3{
    padding: 2px 2px 0 15px;
}

.s_card p{
    font-size: 10px;
}

.price-card{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    gap: 50px;

}

.normal-card{
    background-color: #fcfcfb;
    border-radius: 10px;
    padding: 30px;
    border: 0.1px solid #dbdbdb;

}

.normal-card:hover{
    transform:translateY(-10px);
    box-shadow: 0 0 6px #acacac;
    transition: transform 0.5s ease, box-shadow 0.5s ease-in-out;
}
.plan{
    color:#888888;
    margin: 10px;
    font-size: 12px;
}

.price{
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
}

.person{
    color: #888888;
    margin: 10px ;
}

.list li{
    list-style: disc;
    padding: 5px;
}

.list li::marker{
    color: #2563EB;
}
.list{
    margin: 5px;
}

.price-card-btn{
    display: flex;
    justify-content: center;
    background-color: #fcfcfb;
    color: #2563EB;
    padding: 12px 12px;
    border-radius: 10px;
    border: 1px solid #2563EB;
    height: 48px;
    width: 80%;
    cursor: pointer;
    scale: 1;
    margin: 20px auto;
   
}

.price-card-btn:hover{
    scale: 1.1;
    box-shadow:0 0 5px #7a7a7a;
    transition: box-shadow 0.3s ease-in-out, scale 0.3s ease-in-out;
}


.price-card-btn-pro{
    display: flex;
    justify-content: center;
    background-color: #2563EB;
    color: #FFFFFF;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    height: 48px;
    width: 80%;
    cursor: pointer;
    scale: 1;
    margin: 20px auto;
   
}

.price-card-btn-pro:hover{
    scale: 1.1;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    transition: box-shadow 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.pro-card{
    background-color: #0D1B2A;
    border-radius: 10px;
    padding: 30px;
}
.pro-card:hover{
    transform:translateY(-10px);
    box-shadow: 0 0 6px #888585;
    transition: transform 0.5s ease, box-shadow 0.5s ease-in-out;
}
.plan-pro{
    color:#2563EB;
    margin: 10px;
    font-size: 16px;
}

.price-pro{
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
    color: #FFFFFF;
}

.person-pro{
    color: #888888;
    margin: 10px ;
}

.list-pro{
    color:#cecdcd;
    margin: 20px;
    
}

.list-pro li{
    list-style: disc;
    padding: 5px;
    

}
.list-pro li::marker{
    color: #2563EB;
}


#Head-card-price{
    font-size: 24px;
   text-align: center;
   margin: 100px 0 0 0;
   
}

#deadline{
    text-align: center;
    margin: 10px 0 20px 0;
    color: #7a7a7a;
}

.footer{
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #8f8f8f;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 100px;
}

.social-links{
    display: flex;
    gap: 20px;
}

.social-links img{
    width: 20px;
    height: 20px;
    transition: transform .3s ease;
}

.social-links i:hover{
    transform: scale(1.15);
}

.footer hr{
    margin: 15px 0;
    border: none;
    border-top: 1px solid rgba(255,255,255,.2);
}

.copyright{
    text-align: center;
    color: #0D1B2A;
    font-size: 12px;
}

.innovation{
    margin:120px auto;
    max-width:1200px;
    text-align:center;
}

.innovation-title{
    font-size:48px;
    margin-bottom:20px;
}

.innovation-subtitle{
    color:#777;
    margin-bottom:30px;
    line-height:1.7;
}

.innovation-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.innovation-card{
    background:#f8f9fc;
    padding:40px 30px;
    border-radius:15px;
    border:1px solid #ddd;
    transition:.3s;
}

.innovation-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.12);
}

.innovation-card i{
    font-size:50px;
    color:#2563EB;
    margin-bottom:20px;
}

.innovation-card h3{
    margin-bottom:15px;
}

.innovation-card p{
    color:#666;
    line-height:1.7;
}