*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #575757;
}

nav{
    background-color: ;
    margin: 30px 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common_btn{
    background-color: #1D4ED8;
    color: white;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    height: 48px;
    width: 188px;
    cursor: pointer;
    scale: 1;
   
}


.common_btn:hover{
    box-shadow: 0px 0px 6px #575757;
    transition: background-color 0.2s ease, box-shadow 0.3s ease-in-out, scale 0.2s;
    scale: 1.1;
}
.logo{
   margin: 0px 70px;
    
}

.container ul{
    gap: 10px;
}
.container ul li a{
    padding: 12px 12px;
    
}
.container ul li a:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px #575757;
    transition: background-color 0.2s ease, box-shadow 0.3s ease-in-out;
    border-radius: 5px;

}

.hero{
    position: relative;
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: auto;

       display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5); /* Dark overlay */
}
#headofbanner{
    color: #FFFFFF;
    padding-top: 150px;
    position: relative;
    font-size: 80px;
    


}
#paraofbanner{
    position: relative;
    color: #cecdcd;
    line-height: 1.5;
}
.hero p{
    margin: 20px auto;
    text-align: center;
}

.hero button{
    margin-top: 250px;
    margin-bottom: 80px;
    display: block;
    scale: 1.7;
}

.hero button:hover{
    scale: 1.8;
}
.speaker_heading{
    text-align: center;
    font-size: 50px;
    padding: 50px 20px 0 0;
    font-weight: 900;


}
.speaker_card{
    display: grid;
    grid-template-columns:repeat(2,850px);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 60px auto;
    gap: 30px 30px;
    
}

.s_card{
    border-radius: 10px;
    background-color:#f3f3f3;
    border: solid 0.1px #dbdbdb;
    
}

.s_card img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
    display: block;
}

.field{
    color: #1D4ED8;
    margin-top: 10px;
}

.position{
    color: #575757;
    font-weight: 300;
    margin-bottom: 10px;
}

.s_card p, h1{
    padding: 10px;
}

.price-card{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 500px);
    gap: 50px;

}

.normal-card{
    background-color: #fcfcfb;
    border-radius: 10px;
    padding: 30px;
    border: 0.1px solid #dbdbdb;
}
.plan{
    color:#888888;
    margin: 10px;
    font-size: 20px;
}

.price{
    font-size: 36px;
    font-weight: 900;
    margin: 5px;
}

.person{
    color: #888888;
    margin: 10px ;
}

.list li{
    list-style: disc;
    padding: 10px;
}

.list{
    margin: 10px;
}

.price-card-btn{
    display: flex;
    justify-content: center;
    background-color: #fcfcfb;
    color: #2563EB;
    padding: 12px 12px;
    border-radius: 10px;
    border: 1px solid #2563EB;
    height: 48px;
    width: 80%;
    cursor: pointer;
    scale: 1;
    margin: 20px auto;
   
}

.price-card-btn-pro{
    display: flex;
    justify-content: center;
    background-color: #2563EB;
    color: #FFFFFF;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    height: 48px;
    width: 80%;
    cursor: pointer;
    scale: 1;
    margin: 20px auto;
   
}

.pro-card{
    background-color: #0D1B2A;
    border-radius: 10px;
    padding: 30px;
}

.plan-pro{
    color:#2563EB;
    margin: 10px;
    font-size: 20px;
}

.price-pro{
    font-size: 36px;
    font-weight: 900;
    margin: 5px;
    color: #FFFFFF;
}

.person-pro{
    color: #888888;
    margin: 10px ;
}

.list-pro{
    color:#cecdcd;
    margin: 10px;
}

.list-pro li{
    list-style: disc;
    padding: 10px;
}

#Head-card-price{
    font-size: 48px;
   text-align: center;
   margin: 200px 50px auto;
   
}

#deadline{
    text-align: center;
    margin: 50px;
    color: #7a7a7a;
}

.footer{
    margin-top: 100px;
    padding: 40px 80px;
    background-color: #8f8f8f;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 180px;
}

.social-links{
    display: flex;
    gap: 20px;
}

.social-links img{
    width: 28px;
    height: 28px;
    transition: transform .3s ease;
}

.social-links i:hover{
    transform: scale(1.15);
}

.footer hr{
    margin: 30px 0;
    border: none;
    border-top: 1px solid rgba(255,255,255,.2);
}

.copyright{
    text-align: center;
    color: #0D1B2A;
    font-size: 15px;
}